# Compiled files
*.class

# Maven
target/

# VS Code
.vscode/

# IntelliJ IDEA
.idea/
*.iml

# Eclipse
.project
.classpath
.settings/

# NetBeans
nbproject/
build/
dist/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.swp